In [1]:
# Connecting to a SQLite database

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Make the connection
con = sqlite3.connect('vsx.db')

In [3]:
# Load the data
vsx = pd.read_csv('vsx_small.csv')
vsx

,iod,name,code,type,min,max,period,ra,dec
0,270915,VSX J000000.6+620044,0,SR,12.300,12.550,68.000000,0.00271,62.01222
1,195,GM And,0,RRAB,12.430,13.300,0.706758,0.01521,35.36286
2,287959,CSS_J000004.0+182425,0,RRAB,15.171,0.970,0.485160,0.01669,18.40698
3,275753,Mis V1378,0,SR,11.400,12.700,NaN,0.01717,57.10467
4,170899,UNSW-V 312,0,EA,13.630,0.066,1.057620,0.02500,-59.74675
...,...,...,...,...,...,...,...,...,...
994,38705,NSV 81,2,NaN,8.460,NaN,NaN,3.02246,55.02239
995,249667,CSS 101007:001205+383049,0,VAR,17.900,20.000,NaN,3.02269,38.51364
996,38703,NSV 79,2,CST,11.080,NaN,NaN,3.02717,71.01317
997,288014,CSS_J001206.9+375012,0,RRAB,15.611,0.380,0.666160,3.02900,37.83669
998,280835,ASAS J001208-1550.5,0,ROT,9.283,0.079,2.532000,3.03171,-15.84247

In [4]:
vsx.to_sql("vsx", con, if_exists='replace') #fail, replace, append

999

In [5]:
con.close()